.container {
    width: 80%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
}

.step h4 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #007bff;
}

.first-step {
    display: grid;
    grid-template-columns: 90% 20%;
    grid-template-rows: auto auto; 
    gap: 10px;
    margin-bottom: 20px;
}

.json-textarea {
    grid-column: span 2;
    width: 100%;
    height: 370px;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    font-family: 'Courier New', monospace;
    font-size: 14px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.select-container select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
}

.button-panel {
    grid-column: span 2;
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    width: 100%;
    transition: background-color 0.3s ease;
}

.button-panel:hover {
    background-color: #0056b3;
}

h5 {
    padding: 0;
    font-size: 0.90rem;
    color: #555;
}

/* Media Query for Tablets and Smaller Screens */
@media screen and (max-width: 768px) {
    .first-step {
        grid-template-columns: 100%;
    }

    .json-textarea {
        height: 150px;
    }
}

/* Media Query for Phones and Smaller Screens */
@media screen and (max-width: 480px) {
    .json-textarea {
        height: 100px;
    }
}
